.user-container {
  background-color: #a7bcff;
  height: 100vh;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;
  gap: 30px;

  .user-item {
    background-color: whitesmoke;
    width: 80%;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .name {
      flex: 1;
      // background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .contact {
      display: flex;
      // background: khaki;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

    .city {
      // background:lightcyan;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

    }

    .linkk {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      .child {
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 90px;
        height: 30px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: auto; 
    margin-bottom: 20px;
  }
}